.app {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 50px;
}

.task-input {
  margin: 20px 0;
  padding:10px;
  border-radius:20px;
  margin: 10px;
}

input {
  padding: 8px;
  width: 200px;
  margin-right: 5px;
}

button {
  padding: 8px 12px;
  background: #4d85c0;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  padding: 10px;
}

button:hover {
  background: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f4f4f4;
  margin: 10px auto;
  padding: 10px;
  width: 220px;
  border-radius: 5px;
}
